html {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

body, html {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #000;
}

.navbar-collapse {
  justify-content: center !important;
}
.nav-color{
  border: 2px solid #106b41;
  border-radius: 8px;
  background-color: #fff;
}
.nav-item .nav-link{
  color: #106b41 !important;
  cursor: pointer;
}

.bar {

  gap: .6rem;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: 10px 10px;
  border-radius: 8px;
  padding: 10px 20px;
  box-sizing: border-box;
}

.bar-btn {
  background: none;
  border: 2px solid #000000;
  border-radius: 8px;
  color: #106b41;
  font-size: 40px;
  cursor: pointer;
  padding: 0;
  user-select: none;
  text-decoration: none;
  flex: 1;
  text-align: center;
}


.title{
  font-size: 1.0rem;
  font-weight: bold;
  color: #000000;
  margin: 0;
  text-align: left;
  max-width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}


.notes-container {
  padding: 10px 10px;
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
}

.notes-box {
  background-color: #a3cfc0;
  border: 2px dashed #00000055;
  border-radius: 8px;
  min-width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  user-select: none;
  padding-top: 30px;
  padding-bottom:30px;
}



#bold {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 6px;
  text-align: center;
}

button:active {
  transform: scale(0.96);
  background-color: #0e5734; /* Slightly darker */
  box-shadow: 0 2px 6px rgba(0,0,0,0.12) inset;
}