html {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

body, html {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #000;
}


.nav-color{
  border: 2px solid #106b41;
  border-radius: 8px;
  background-color: #fff;
}
.nav-item .nav-link{
  color: #106b41 !important;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  gap: 20px;
}

.buttons {
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
}

.header{
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
  margin: 0;
  text-align: center;
  padding-top: 20px;

}


.quiz-container {
  padding: 30px 20px;
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
}

.quiz-container .btn {
  background: none;
  border: none;
  color: #106b41;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
  user-select: none;
}
.quiz-box {
  background-color: #a3cfc0;
  border: 2px dashed #00000055;
  border-radius: 8px;
  width: 100%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  user-select: none;
}
#question-text {
  margin-top: 20px;
  margin-bottom: 24px;
  width: 100%;
}

.descriptions {
  gap: 20px;
  justify-content: center;
  justify-items: center;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  background-color: #a3cfc0;
}

.description-box {
  width: 100%;
  max-width: 400px;

  background: #f9f9f9;
  border: 1.5px solid #aaa;
  border-radius: 8px;
  padding: 14px 16px;
  min-height: 70px;
  text-align: center;
  font-size: 1rem;
  font-family: inherit;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.04);
  resize: none;
  overflow-y: auto;
}

#bold {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 6px;
  text-align: center;
}

button:active {
  transform: scale(0.96);
  background-color: #0e5734; /* Slightly darker */
  box-shadow: 0 2px 6px rgba(0,0,0,0.12) inset;
}