html {
  font-size: 18px; 
}

* {
  box-sizing: border-box;
}

body, html {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #000;
}


.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 840px;              
  margin: 20px auto 40px;       
  border: 2px solid #ffffff; 
  border-radius: 8px;
  padding: 10px 20px;
  background-color: #fff;
  box-sizing: border-box;
}

.bar .btn {
  background: none;
  border: none;
  color: #106b41;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
  user-select: none;
  text-decoration: none;  
  flex: 1;
  text-align: center;
}
.bar .btn.left {
  text-align: left;
}

.bar .middle {
  text-align: center;
}

.bar .btn.right {
  text-align: right;
}

.bar .btn:hover {
  text-decoration: underline;
}

.header{
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
  margin: 0;
  text-align: center;
  padding-top: 20px;

}


.quiz-container {
  padding: 30px 20px;       
  max-width: 1000px;        
  margin: 20px auto;        
  text-align: center;
  flex-direction: column; 
  justify-content: flex-start;
}


.quiz-box {
  background-color: #a3cfc0;
  border: 2px dashed #00000055;
  border-radius: 8px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;      
  font-size: 1.6rem;        
  cursor: pointer;
  position: relative;
  overflow: hidden;
  user-select: none;
}
#question-text {
  margin-top: 20px;
  margin-bottom: 24px;
  width: 100%;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  gap: 16px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.option-btn {
  font-size: 1.1rem;
  padding: 18px;
  background: #fff;
  border: 2px solid #106b41;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}
.option-btn:active {
  background: #e0f2ea;
  transform: scale(0.97);
}

#bold {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 6px;
  text-align: center;
}



.nav-color{
  border: 2px solid #106b41;
  border-radius: 8px;
  background-color: #fff;
}
.nav-item .nav-link{
  color: #106b41 !important;
  cursor: pointer;
}