html {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

body, html {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff;
  color: #000;
}

.full-upload-box {
  padding: 50px 30px;
  max-width: 840px;
  margin: 40px auto;
  text-align: center;
}

.full-upload-box .btn {
  background: none;
  border: none;
  color: #106b41;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
  user-select: none;
}

.nav-color{
  border: 2px solid #106b41;
  border-radius: 8px;
  background-color: #fff;
}
.nav-item .nav-link{
  color: #106b41 !important;
  cursor: pointer;
}


.upload-box {
  background-color: #a3cfc0;
  border: 2px dashed #00000055;
  border-radius: 8px;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.upload-box input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.options {
  font-size: 1.1rem;
  margin-bottom: 45px;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.button-row .btn {
  flex: 1;
  width: 200px;
  max-width: 200px;
  padding: 1.5rem 0;
  font-size: 1.3rem;
  border: none;
  background-color: #e0e0e0;
  color: #000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.button-row .btn:hover {
  background-color: #ccc;
}
