html {
  font-size: 18px; 
}

* {
  box-sizing: border-box;
}

body, html {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff;
  color: #000;
}

.full-upload-box {
  padding: 60px 30px;       
  max-width: 840px;        
  margin: 80px auto;        
  text-align: center;
}

.full-upload-box .btn {
  background: none;
  border: none;
  color: #106b41;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
  user-select: none;
}

.button-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 840px;              
  margin: 20px auto 40px;       
  border: 2px solid #106b41; 
  border-radius: 8px;
  padding: 10px 20px;
  background-color: #fff;
  box-sizing: border-box;
}

.button-bar .btn {
  background: none;
  border: none;
  color: #106b41;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
  user-select: none;
  text-decoration: none;  
  flex: 1;
  text-align: center;
}

.button-bar .btn.left {
  text-align: left;
}

.button-bar .btn.middle {
  text-align: center;
}

.button-bar .btn.right {
  text-align: right;
}

.button-bar .btn:hover {
  text-decoration: underline;
}


h2 {
  font-weight: 400;
  margin-bottom: 30px;      
  font-size: 2rem;          
}

.upload-box {
  background-color: #a3cfc0;
  border: 2px dashed #00000055;
  border-radius: 8px;
  width: 100%;
  height: 250px;            
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;      
  font-size: 1.6rem;        
  cursor: pointer;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.upload-box input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.options {
  font-size: 1.1rem;        
  margin-bottom: 45px;      
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.button-row .btn {
  flex: 1;
  width: 200px;
  max-width: 200px;
  padding: 1.5rem 0;  
  font-size: 1.3rem;
  border: none;
  background-color: #e0e0e0;
  color: #000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.button-row .btn:hover {
  background-color: #ccc;
}
